doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title presentation
  body
    h1 presenatation
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') presentation
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li
            a(href='#') Home
          li
            a(href='#') microFronetEnd
          li
            a(href='#') MEAN
          li
            a(href='#') mern
          li
            a(href='#') devops
